<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Main page</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, aspernatur corporis cumque facilis fuga illum
        inventore iusto neque numquam placeat quidem quos soluta tempora? Ad assumenda consectetur, dolorum eius eos
        explicabo incidunt ipsa iure minima molestiae nemo omnis, perferendis quod tempora ut! Asperiores consequuntur
        doloremque ducimus quaerat sint voluptate voluptatibus? Consectetur id illum ipsam iusto magni nihil placeat
        possimus quod repellat, repellendus, vero voluptatibus? Assumenda facilis nobis sunt. Aliquid consectetur itaque
        minima nemo officia porro temporibus unde. Beatae dolor dolore, eaque, eveniet expedita explicabo iure laborum
        maxime nam odit porro quia quo repellendus repudiandae rerum saepe similique ullam, veritatis vitae!
      </p>
    </div>
  </div>
</div>
